footer.footer
  .footer__container
    a.footer__logo(href='#')
      img(src='/images/index/cart.png' alt='footerLogo')
    .footer__social
      a(href='#')
        img(src='/images/index/icon-facebook.svg' alt='')
      a(href='#')
        img(src='/images/index/icon-instagram.svg' alt='')
      a(href='#')
        img(src='/images/index/icon-pinterest.svg' alt='')
      a(href='#')
        img(src='/images/index/icon-twitter.svg' alt='')
      a(href='#')
        img(src='/images/index/icon-youtube.svg' alt='')
    .footer__links.cols1
      a(href='#') About Us
      a(href='#') Contact Us
    .footer__links.cols2
      a(href='#') Privacy policy
      a(href='#') Terms and Conditions
      a(href='#') Disclaimer
    .footer__weblink
      a(href='#') online shopping
    .footer__copyright(style='color:black')
      | © Online Shopping. All Rights Reserved.
