doctype html
html
 include _head
 body
   // HEADER
   include _header

   //CONTENT
   block content
    p this is a pragraph

   // FOOTER
   include _footer
 script(src='/javascript/hamburger.js')
 script(src='/javascript/slideshow.js')