<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/styles/index/styles.css" type="text/css">
    
    <!-- google font api -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    
    
    <!-- fontawesome api -->
    <script src="https://kit.fontawesome.com/4ce11a0f80.js" crossorigin="anonymous"></script>
    <title>test project</title>
    
    <title>test footer</title>
    <!-- sidebar script-->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
        <script>
        $(document).ready(function () {
              var bool=true;
              $(".hamburger").click(function () {
               if(bool){
                $("body").css("overflow","hidden");
                $(".sidebar_container").animate({right:'0px'},500);
                bool=false;
               }
              else{
                $(".sidebar_container").animate({right:'-370px'},500);
                $("body").css("overflow","visible");
                bool=true;
               }
              });
              $(".content").load("/src/index_body.html");
            });
        </script>
    
         
    </head>