.menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px;
    background-color:rgb(90, 223, 194);
    .hamburger{
          
        >span{ 
            display:block;
            width: 24px;
            height: 2px;
            background-color: black;
            transform-origin:1px 1px;
            transition: all 200ms ease-in-out;
        }
        >span:not(:last-child){
            margin-bottom: 6px;
        }

        &.open{
            >span:first-child{
                transform:rotate(45deg);
            }
            >span:nth-child(2){
                opacity: 0;
            }
            >span:last-child{
                transform: rotate(-45deg);
            }
        }

    }

    .dummy{
        width: 40px;
        height: 20px;
    }

 
     //menu links
   &__links{
    a{
        text-decoration: none;
        color: black;
    }
    a:not(:last-child){
       margin-right: 60px;
    }
   }

  //menu icons
   &__icons{

    .fas{
        display:inline-block;
        height:20px;
    }
    .fas:not(:last-child){
        margin-right: 5px;
    }
   
   
   }

    //side menu styles 
   .sidebar_container{
    
    position: fixed;
    right: -370px;
    top:0px;
    background-color: #34495E;
    width: 370px;
    height:100vh;
    display: inline-block;
    @include breakpoint-up(large){
        display: none;
    }
  //  visibility: hidden;
    &_menuContainer{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        
        ul{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            width:370px;
        }
        li{
            list-style-type: none;
            text-align: center;
            border-top: 0.015px solid #85929E;   
        }
        li:not(:last-child){
            border-bottom: 0.2px solid black;
        }
        li:hover{
            background-color:#5D6D7E ;
        }

        a{
            text-decoration: none;
            color:#fff;
            line-height:65px;
        }
        a:hover,a:active{
            color: black;
        }

        span{
            display: block;
            width: 370px;
            background:#ffff;
            opacity:0.4;    
            height:1px;
        }

    }
}
     
}